body {
    background-color: rgb(255, 255, 255);
}

h1 {
    font-family: Arial, sans-serif;
}

h3 {
    font-family: Verdana, sans-serif;
    font-style: italic;
}

img {
    border: 7px solid aliceblue;
    border-radius: 5px;
}

footer {
    text-align: center;
    text-size-adjust: 5%;
    padding-top: 3%;
}